[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu121"
verify_ssl = true
name = "pytorch_cuda"

[packages]
torch = {version = "*", index = "pytorch_cuda"}
datasets = "*"
langchain-huggingface = "*"
chromadb = "*"
sentence-transformers = "*"
langchain-chroma = "*"
langchain-ollama = "*"
langchain = "*"
langchain-community = "*"
langchain-core = "*"
langchain-classic = "*"

[dev-packages]
black = "*"
isort = "*"
pre-commit = "*"

[requires]
python_version = "3.11"
