[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
datasets = "*"
langchain = "*"
langchain-huggingface = "*"
langchain-community = "*"
chromadb = "*"
sentence-transformers = "*"
langchain-chroma = "*"
langchain-ollama = "*"

[dev-packages]
black = "*"
isort = "*"
pre-commit = "*"

[requires]
python_version = "3.13"
